{% extends 'base.html' %}

{% block title %}Kodinhallintasivu{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <a class="tile" href="{{ url_for('web.get_3d_page') }}">3D Dashboard</a>
  <a class="tile" href="{{ url_for('web.get_temperatures_page') }}">Temperatures</a>
  <a class="tile" href="{{ url_for('web.get_car_heater_page') }}">Car Heater</a>
  <a class="tile" href="{{ url_for('web.get_ynab_categorizer_page') }}">YNAB Categorizer</a>
  <a class="tile" href="{{ url_for('web.get_settings_page') }}">Asetukset</a>
  <!-- Lisää ominaisuuksia coming soon -->
</div>
{% endblock %}
