{% extends 'base.html' %}

{% block title %}Asetukset{% endblock %}

{% block styles %}
<link rel="stylesheet"
  href="{{ url_for('static', filename='css/settings.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-container" style="max-width:800px; margin:20px auto;">
  {% for category, msg in messages %}
  <div class="flash {{ category }}">
    {{ msg }}
  </div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="container">
  <a class="tile" href="{{ url_for('web.user_list') }}">Käyttäjähallinta</a>
  <a class="tile" href="{{ url_for('web.timelapse_conf') }}">Muokkaa timelapsen
    asetuksia</a>
  <a class="tile" href="{{ url_for('web.logs') }}">Lokitiedot</a>
  <a class="tile" href="{{ url_for('web.logging_settings') }}">Logging control</a>
  <a class="tile" href="{{ url_for('web.change_password') }}">Vaihda salasana</a>
  <a class="tile" href="{{ url_for('web.api_keys') }}">API-avaimet</a>
  <a class="tile" href="{{ url_for('web.novpn_settings') }}">VPN/DNS ohitus</a>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
